body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

/* Header Style */

header {
  margin-bottom: 70px;
}
h1 {
  font-weight: 700;
  font-size: 64px;
  color: #0a0a0a;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 42px 124px 0 156px;
}
nav a {
  text-decoration: none;
  /* padding-right: 15px; */
  color: #e02c6d;
}
.button-color {
  padding: 10px 24px;
  background: #e02c6d;
  text-decoration: none;
  color: white;
  border-radius: 5px;
}
.header-heading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading {
  width: 90%;
}
.header-heading img {
  width: 556.01px;
  height: 438px;
  padding-left: 102px;
  margin-top: 93px;
}
header:hover .photo {
  transform: scale(1.5);
  transition: transform 2s ease-in-out;
}

/* --------------------
     Products List
-------------------- */
main,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  width: 1050px;
  background: #ffffff;
}
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
  grid-column-gap: 30px;
}
.product {
  width: 330px;
  height: 485px;
  background: #ffffff;
  padding: 15px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.product img {
  width: 330px;
}
.product i {
  color: rgb(243, 243, 79);
}
.p-color {
  color: gray;
}
.see-more-button {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  margin-top: 30px;
}
.see-more-button a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #e02c6d;
}

/* How to set up Home Studio */

.home-studio {
  display: flex;
  justify-content: center;
  padding: 20px 0 150px 0;
}
.studio {
  width: 466px;
  height: 309px;
  margin-right: 69px;
}
.section-margin {
  margin-top: 70px;
}

/* Footer Style */
footer {
  background-image: linear-gradient(#141E30, #243B55);
  padding: 20px;
}
footer p {
  margin: 0;
  color: white;
}
footer h2 {
  color: white;
}
.circle-shape {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #585b63;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
  color: white;
}

/* Media Query */

@media only screen and (max-width: 667px) {
  nav,
  main,
  .header-heading,
  .home-studio {
    display: block;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    padding: 15px;
  }
  h1 {
    font-weight: 700;
    font-size: 36px;
    color: #0f0f0f;
  }
  .header-heading img {
    width: 329px;
    height: 259.17px;
    padding-left: 0;
  }
  .products {
    grid-template-columns: repeat(1, 1fr);
  }
  .studio {
    width: 329px;
    height: 299px;
  }
  
  .iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
  }
  .iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media only screen and (min-device-width: 668px) and (max-device-width: 1024px) {
  nav,
  main,
  .header-heading,
  .home-studio {
    display: block;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    padding: 15px;
  }
  h1 {
    font-weight: 700;
    font-size: 36px;
    color: #0f0f0f;
  }
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
  .section-margin {
    margin-top: 10px;
  }
  .studio {
    width: 90%;
  }
  .iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
  }
  .iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
